<!doctype html>

<html lang="en">
<head>
  <title>php oop mysql {% if page_title is defined %}- {{ page_title }}{% endif %}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" media="all" href="{{ PUBLIC_PATH ~ '/dist/css/styles.css' }}" />
  <script defer src="{{ PUBLIC_PATH ~ '/dist/js/bundle.js' }}"></script>
</head>
<body>
  <header class="navbar bg-lime-400">
    <nav>
      <p>Nav Bar</p>
    </nav>
  </header>